body {
	background: url("../img/bg2.png");
	background-size: 5%;
	
}

em {
	color: #2b2525;
}
/*Primary Header*/

h1 {
	font-family: 'Pacifico', cursive;
	color: #9e1030;
	font-size: 4em;
	margin: 0px;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #fff;
	font-size: 3em;
	margin: 0px;
}

h3 {
	font-family: 'Quattrocento Sans', sans-serif;
	color: #b54727;
	font-size: 2.5em;
	margin: 0px;
}

/*Body copy*/
p {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 1.25em;
	margin: 10px;

}

header {
	background: url("../img/bg3-2.png") repeat;
	background-size: 5%;
	max-width: 100%;
	margin: 0;
}

nav {
	text-align: center;
}

nav ul {
	margin-top: 0px;
	margin-bottom: 5px;
	padding: 15px;
}

nav ul li a:link, nav ul li a:visited {
	font-family: 'Questrial', sans-serif;
	font-weight: 800;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 1.3em;
	padding: 5px;
	border: 20px;
	margin-right: 5px;
	margin-left: 5px;
}

nav ul li a:hover { 
	color: #b9947f;
	text-shadow: 0 0 7px #2b2525;
} 

ul li {
	list-style: none;
	display: inline;
	letter-spacing: 2px;
}




/* Layout for Style Tile*/

section {
	margin: 20px 0 20px 0;
}

section > p {
	color: #2b2525;
}

section > p + p {
	color: #b54727;
}








.color-0,
.color-1,
.color-2,
.color-3,
.color-4,
.color-5,
.color-6,
.color-7,
.color-8,
.color-9,
.color-10 {
	border: 1px solid #000;
	float: left;
	margin: 10px;
	height: 50px;
	width: 50px;
}


.pattern-1,
.pattern-2,
.pattern-3,
.pattern-4,
.pattern-5,
.pattern-6,
.pattern-7,
.pattern-8,
.pattern-9,
.pattern-10,
.pattern-11,
.pattern-12
{
	border: 1px solid #000;
	float: left;
	margin: 20px;
	height: 110px;
	width: 110px;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}


.color-0{background: #9e1030;}
.color-1{background: #b54727;}
.color-2{background: #2b2525;}
.color-3{background: #9a7c61;}
.color-4{background: #b9947f;}
.color-5{background: #cc8455;}
.color-8{background: #567d6a;}

.pattern-1 {
	background: url("../img/bg3-2.png");
}
.pattern-2 {
	background: url("../img/bg2.png");

}
.pattern-3 {
	background: url("../img/bg2.png");
}