body {
	background: url("../img/bg2.png") ;
	
}

em {
	color: #ab2b45;
}
/*Primary Header*/
h1 {
	font-family: 'Laila', serif;
	
	color: #ab2b45;
	font-size: 4em;
	margin: 0px;
}

h2 {
	font-family: 'Questrial', sans-serif;
	color: #fff;
	font-size: 3em;
	margin: 0px;
}

h3 {
	font-family: 'Questrial', sans-serif;
	color: #fff;
	font-size: 2.5em;
	margin: 0px;
}

/*Body copy*/
p {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 1.25em;
	margin: 10px;

}

nav {
	text-align: center;
	float: center;
}

nav ul {
	margin-top: 40px;
	margin-bottom: 70px;
}

nav ul li a:link, nav ul li a:visited {
	font-family: 'Questrial', sans-serif;
	font-weight: 800;
	list-style: none;
	text-decoration: none;
	text-transform: uppercase;
	color: #204449;
	font-size: 1.75em;
	padding: 60px;
	border: 2px;
}

nav ul li a:hover { 
	color: #B9EFEF;
	background: url("../img/WClink2.png") no-repeat;
	background-size: 90%;
	background-position: center;
} 

ul li {
	text-decoration: none;
	list-style: none;
	display: inline;
}




/* Layout for Style Tile*/
/*section {
	margin: 20px 0;
}*/

.logo img {
	max-width: 400px;
	margin: 10px;
	float: left;
}

section {

	margin: 20px 0 20px 0;
}

section > p {
	color: #fff;
}

section > p + p {
	color: #2b2525;
}

section > p + p + p {
	color: #d24324;
}








.color-1,
.color-2,
.color-3,
.color-4,
.color-5,
.color-6,
.color-7,
.color-8,
.color-9,
.color-10 {
	border: 1px solid #000;
	float: left;
	margin: 10px;
	height: 50px;
	width: 50px;
}


.pattern-1,
.pattern-2,
.pattern-3,
.pattern-4,
.pattern-5,
.pattern-6,
.pattern-7,
.pattern-8,
.pattern-9,
.pattern-10,
.pattern-11,
.pattern-12
{
	border: 1px solid #000;
	float: left;
	margin: 20px;
	height: 110px;
	width: 110px;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

.color-1{background: #d24324;}
.color-2{background: #2b2525;}
.color-3{background: #9a7c61;}
.color-4{background: #b9947f;}
.color-5{background: #cc8455;}
.color-6{background: #115e72;}
.color-7{background: #7bada7;}
.color-8{background: #567d6a;}

.pattern-1 {
	background: url("../img/bg1.png");
}
.pattern-2 {
	background: url("../img/bg1-2.png");

}
.pattern-3 {
	background: url("../img/bg2.png");
}