/*General Styling*/



h1 {
	font-family: 'Pacifico', cursive;
	color: #b54727;
	font-size: 4em;
	margin: 0px;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #b54727;
	font-size: 1.3em;
	margin: 0px;
}

h3 {
	font-family: 'Quattrocento Sans', sans-serif;
	color: #9e1030;
	font-size: 2em;
	margin: 0px;
}

p {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 1.25em;
	margin: 10px;
	color: #2b2525;
}




/*Canvas*/

.name{
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 1em;
	color: #2b2525;
}

.name li {
	color: #567d6a;
}

.name li:hover {
	color: #9e1030;
}

.ann {
	list-style: none;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 1em;
}

.ann a li {
	color: #2b2525;
	margin: 3px;
}

.ann a li:hover {
	color: #b54727;
}

.header h2:hover {
	color: #fff;
}













