@import "compass/css3";

$row-color: #89130a;


html,body {
  width: 100%;
  height: 100%;
}

body {
  font: 1.2em/1.4 'Source Sans Pro', 'sans-serif';
  color: #fff;
}

.rss-widget{
  width: 300px;
  margin: 0 auto;
  
  ul{
    margin: 0;
    padding: 0;
    text-align: left;
    
    li{
      list-style:none;
      padding: 1em;
      margin-bottom: .125em;
      display: block;
      list-style: none;
      text-transform: uppercase;
    
      
      
      a{
        color: white;
        text-decoration: none;
        
        .blog-item-title{
          font-weight: 900;
          line-height: 1.2;
          text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        }
        
        .blog-item-author{
          font-size: 12px;
          color: rgba(255,255,255,0.6);
        }  
      }
      
    }
  }
}

.rss-widget li:nth-child(2n) {
  background-color: lighten($row-color, 10%); 
}

.rss-widget li:nth-child(2n+1) {
  background-color: $row-color;
}

@-webkit-keyframes rolldown {
  0% {
    visibility: visible;
    -webkit-transform: rotateX( 180deg ) perspective(500px);
  }
  70% {
    visibility: visible;
    -webkit-transform: rotateX(-20deg);
  }
  100% {
    visibility: visible;
    -webkit-transform: rotateX(0deg);
  }
}


@-moz-keyframes rolldown {
  0% {
    visibility: visible;
    -moz-transform: rotateX( 180deg ) perspective(500px);
  }
  70% {
    visibility: visible;
    -moz-transform: rotateX(-20deg);
  }
  100% {
    visibility: visible;
    -moz-transform: rotateX(0deg);
  }
}

@keyframes rolldown {
  0% {
    visibility: visible;
    transform: rotateX( 180deg ) perspective(500px);
  }
  70% {
    visibility: visible;
    transform: rotateX(-20deg);
  }
  100% {
    visibility: visible;
    transform: rotateX(0deg);
  }
}