<!DOCTYPE html>
<html class="zenlogic">

<head>

  <meta charset="UTF-8">

  <title>CodePen - Zenlogic - Vertical menus with semantic-ui</title>

  <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.1.2/semantic.min.css'>

    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />

</head>

<body>

<div ng-app="portal" ng-controller="MainCtrl as ctrl" class="zenlogic-sidebar">
  <!--p {{ctrl.cpanels}}-->
  <!--select(ng-model="ctrl.currentCpanel" ng-options="cpanel.code as cpanel.name for cpanel in ctrl.cpanels")-->
  <div class="ui labeled icon menu horizontal tabs inverted2"><a href="#" ng-click="ctrl.tabIndex = 1" ng-class="{active: ctrl.tabIndex == 1}" class="blue item"><i class="setting icon"></i>Canvas</a><a href="#" ng-click="ctrl.tabIndex = 2" ng-class="{active: ctrl.tabIndex == 2}" class="purple item"><i class="dashboard icon"></i>Control panel</a></div>

  <!--PART 1: USER INFO-->
  <div ng-show="ctrl.tabIndex == 1" class="ui blue menu vertical inverted">

    <a href="#" class="item active">Web Design<i class="home icon"></i></a>

    <div class="accordion">
      <i class="setting icon"></i>Drawing II
        <div class="menu">
          <a href="#" class="item">Personal information</a>
          <a href="#" class="item">Email</a>
          <a href="#" class="item">Log</a>
        </div>
    </div>

    <div class="item">Payments<i class="money icon"></i>

    <div class="menu">
      <a href="#" class="item">History</a>
      <a href="#" class="item">Payment methods</a>
    </div>

    </div>
      <a href="#" class="item"><i class="plus icon"></i>Subscribe a new service</a>
      <a href="#" class="item"><i class="users icon"></i>Users</a>
    </div>





  <!--PART 2: CONTROL PANELS-->
  <div ng-show="ctrl.tabIndex == 2" class="ui purple menu vertical inverted">
    <div class="item">
      <select ng-model="ctrl.currentCpanel" ng-options="cpanel.code as cpanel.name for cpanel in ctrl.cpanels">   </select>
      <!--.ui.selection.dropdown
      .default.text A0001
      i.dropdown.icon
      .menu.transition.hidden(tabindex="-1")
        .item(ng-repeat="cpanel in ctrl.cpanels",data-value="{{cpanel.code}}") {{cpanel.name}}

      -->
    </div><a href="#" class="item active"><i class="info icon"></i>Server info</a><a href="#" class="item"><i class="world icon"></i>WEB  </a><a href="#" class="item"><i class="exchange icon"></i>FTP </a><a href="#" class="item"><i class="database icon"></i>Databases </a><a href="#" class="item"><i class="mail icon"></i>Mail </a><a href="#" class="item"><i class="folder open icon"></i>Shared files</a><a href="#" class="item"><i class="flag icon"></i>Domains</a><a href="#" class="item"><i class="dropbox icon"></i>Install software</a>
  </div>
</div>

  <script src='http://codepen.io/assets/libs/fullpage/angular.js'></script>

  <script src="js/index.js"></script>

</body>

</html>